.container--archive {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    border-radius: 25px;
    margin: 60px 0;
    width: 100%;
    padding: 30px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    padding-top: 40px;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    /* filler color to be changed to color pallete when chosen */
    background: rgb(139,0,139);
    background: -webkit-linear-gradient(rgb(153,50,204), rgb(148,0,211));
}

.archive--search {
    margin: 0 auto;
    width: 400px;
}

.search--input {
    border-radius: 50px;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAChSURBVDhPxZFLDgFREABniTgOtlZcyJ5wFUfgCNiz9LuAA4gVVemxmnlPSGQqqfRn0nmdnuLfdHCOF3zguazb+BGHd7jGPnbLaL1Fv2dZ4CrSCvZnkaa5Yi/SCm5yijTNHV27DvveJMsBfakO+8dI00wwd4NppGnG+ESvPkDXNlpvMPsrh3jDEbrJHr2Jh/P6LUzyHjZ+TXPDssSfh5uiKF6jryBed3R9/QAAAABJRU5ErkJggg==') no-repeat left center;
    padding-left: 30px;
    margin: 10px;
    width: 100%;
}

.archive--collection {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 3%;
}