.container--card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 300px;
    min-width: 400px;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    padding: 10px;
}

.card--header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
}

.card--images {
    min-height: 200px;
    display: flex;
}

.card--images img {
    width: 125px;
    max-height: 225px;
    min-height: 210px;
    object-fit: contain;
    /* height: 33%;
    width: 33%; */
}

.card--footer{
    display: block;
    align-self: flex-start;
    margin: 5px 0;
}

.header--edit{
    border: 0;
    background: transparent;
}

.edit--button {
    border: none;
    height: 25px;
    width: 25px;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACkSURBVEhL7ZDNCQIxEEbTwipsMV60CgXtRBC3CMVutAr7cO+CvlkzEEIWIZnc8uCRn8P3JeManiO+cDedjDnjx/tG85IBtUBLtljM2q9CXCLjKkLHIqsSlpzkIpdw5qkSMZs4PFWSzVy4usFs/oVXGYvawpMWhQtLvGGVcKVH8/ADrn7biQ71JyYvv+CIYckCzcbyQHltXGLGE+94xb1cNCrj3Bd0W2O4MZVXCgAAAABJRU5ErkJggg==');
}

.edit--button:hover {
 cursor: pointer;
 border: 1px solid black;
 border-radius: 5px;
 box-shadow: 1px 1px;
}