* {
	box-sizing: border-box;
}

.container--editbox {
	width: 50%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edit--card {
	display: flex;
	justify-content: center;
	align-content: center;
	max-height: 600px;
	max-width: 400px;
	width: 100%;
	margin: 4px;
	transition: 2s;
}

.edit--card:hover {
	cursor: pointer;
	border: 2px solid purple;
	transform: translateY(-10px);
}

.container--archive {
	display: flex;
	flex-direction: column;
}

.container--edit {
    display: flex;
    flex-direction: column;
    left: 50px;
    margin-top: 90px;
    margin-left: 1em;
    overflow-x: hidden;
}

.image--container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 75px;
	min-width: 75vw;
}

.edit--card-image {
	max-width: 25vw;
	max-height: 40vh;
	margin: 0 5px;
	padding: 5px;
}

.edit--card-image:hover {
	cursor: pointer;
	background: var(--dark-purple);
	transform: translateY(-10px);
}

.edit--fields {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

.header--edit {
	border: 0;
	background: transparent;
}

.edit--selections {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 90vh;
	max-width: 80vw;
	overflow-x: hidden;
}

.edit--input {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px;
}

.edit--button-group {
	display: flex;
	justify-content: center;
}

.edit--button {
	border-radius: 5px;
	width: 100px;
	height: 50px;
}
*/ .edit--button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
	animation-duration: .5s;
}

.outfit--card {
	border-radius: 5px;
	max-width: 225px;
	margin: 10px;
	padding: 5px;
	transition: .5s;
	z-index: 1000;
}

.outfit--card:hover {
	background: var(--dark-purple);
	transform: translateY(-10px);
	cursor: pointer;
}

.edit--date {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0px 10px;
}

.outfit-date {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 black;
	display: flex;
	margin: 5px 0px 0px 0px;
	padding: 5px;
	font-size: 15px;
	width: 120px;
}

.outfit-date--delete {
	padding: 0 8px;
	cursor: pointer;
}
