.closet {
  background: white;
  border-radius: 5px;
  margin-top: 60px;
  padding: 30px;
  width: 80%;
}

/* .closet-text {}

.closet-menu {} */

.closet-title {
    font-family: "Homemade Apple", cursive;
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-purple);
    margin-bottom: 15px;
}

.closet-button {
    background: var(--dark-purple);
    border: 2px solid var(--dark-purple);
    border-radius: 5px;
    padding: 0px 8px;
    margin: 5px;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--pale-purple);
    font-family: 'Arsenal', sans-serif;
  }

.closet-button--active {
    background: var(--pale-purple);
    border: 2px solid var(--dark-purple);
    border-radius: 5px;
    padding: 0px 8px;
    margin: 5px;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--dark-purple);
    font-family: 'Arsenal', sans-serif;
}

.closet-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
}

.closet-card {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    padding-top: 0px;
    /* background: linear-gradient(var(--pale-purple), white); */
    color: var(--dark-purple);
    font-family: 'Arsenal', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: top;
    max-width: 175px;
}

.closet-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.closet-card--name{
    font-weight: bold;
    font-size: 1.25em;
}

.closet-card--edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closet-card--input {
    border: 1px solix black;
    /* width: 60px; */
    width: 100%;
    max-width: 120px;
    text-align: center;
}

.closet-card--options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120px;
}

.closet-card--accept {
    background-color: lightgreen;
    border: none;
}

.closet-card--accept:hover {
    cursor: pointer;
    color: green;
    background-color: darkgreen;
}

.closet-card--cancel {
    background-color: red;
    /* color: var(--red); */
}

.closet-card--cancel:hover {
    cursor: pointer;
    background-color: rgba(94, 26, 26, 0.836);
    color: rgb(177, 38, 61);
}

.closet-image {
    border-radius: 3px;
    overflow: hidden;
    height: 200px;
    width: 300px;
}

@media (max-width: 950px) {
    .closet-image {
        height: 230px;
        width: 390px;
    }
}