.navigation--container {
  box-shadow: 0 0 10px 1px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation--dresser {
  background: var(--dark-purple);
  height: 50px;
  width: 100%;
  z-index: 1;
}

.navigation--minimize {
  cursor: pointer;
  padding: 9px 20px;
  width: 50px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: white; 
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 { 
  transform: translate(0, 9px) ;
}

.change .bar2 { 
  opacity: 0;
}

.change .bar3 { 
  transform: translate(0, -9px);
}

.cross .bar1 { 
  transform: rotate(-45deg) translate(-6px, 7px);
}

.cross .bar3 { 
  transform: rotate(45deg) translate(-5px, -7px);
}

.navigation--sideNav {
  align-content: center;
  background: var(--med-purple);
  border: 3px solid var(--dark-purple);
  display: flex;
  flex-flow: column;
  margin-top: -100px;
  margin-left: -3px;
  position: absolute;
  transition: 0.4s;
  width: 150px;
  z-index: -1;
}

.sideNav--expanded {
  box-shadow: 1px 0 10px 1px;
  margin-top: -3px;
}

.navigation--sideNav * {
  color: white;
  padding: 15px 0;
  text-align: center;
}

.navigation--sideNav *:hover {
  color: var(--light-purple);
}

.navigation--topRight {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 12px;
}

.navigation--topRight * {
  padding: 0 15px;
}

.navigation--user {
  border-right: 1px solid white;
}

.navigation--logout {
  cursor: pointer;
  text-decoration: underline;
}