.container--landingPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-width: 500px;
    padding-top: 50px;
    background-image: url("./landing.jpg");
    background-position: top;
    background-size: cover;
}

.landingPage--modals {
    align-self: flex-end;
    display: flex;
    margin-right: 50px;
}

.landingPage--app-title{
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
    font-weight: bold;
    color: var(--dark-purple);
}

.landingPage--description {
    display: flex;
    flex-direction: column;
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'Arsenal', sans-serif;
}

.landingPage--login-nav{
    margin: 10px;
}

.input--login {
    padding: 10px;
    margin: 10px;
    background-color: var(--light-purple);
    color: var(--dark-purple);
    border: 3px solid var(--dark-purple);
    border-radius: 5px;
}

.landingPage--login-nav{
    margin: 10px;
}

.landingPage--animations {
    border: 1px solid blue;
    height: 1500px;
    width: 1200px;
}

@keyframes leftSlide {
    from {
        opacity: 0;
        transform: translate(1500px, 0px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes rightSlide {
    from {
        opacity: 0;
        transform: translate(1500px, 0px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes jumpIn {
    from {
        opacity: 0;
        transform: translate(0px, 1500px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.animation--top {
    transition: .3s;
    /* animation: leftSlide 3s ease-in once; */
}

.animation--top:hover {
    transform: translate(200px, 150px) rotate(20deg);
}

.animation--pants {
    transition: .3s;
    /* animation: rightSlide 3s ease-in once; */
}

.animation--pants:hover {
    transform: translate(-250px, 150px) rotate(-20deg);
}

.animation--shoes--first {
    transition: .3s;
    /* animation: jumpIn 3s ease-in once; */
}

.animation--shoes--first:hover {
    transform: translate(200px, 150px) rotate(20deg);
}