.container--landingPage {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding-top: 80px;
	background-image: url("./landing.jpg");
	background-position: top;
	background-size: cover;
}

.container--landingPage .button {
	top: 10px;
	right: 20px;
	position: absolute;
}

.landingPage--modals {
	align-self: flex-end;
	display: flex;
}

.landingPage--description {
	display: flex;
	flex-direction: column;
	font-size: 1.75em;
	font-weight: bold;
	font-family: 'Nothing You Could Do', cursive;
}

.landingPage--faded {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 20px;
	width: 100%;
	height: 100%;
}

.landingPage--login {
	background: white;
	border-radius: 10px;
	box-shadow: 0 1px 1px;
	margin: 0 auto;
	width: 400px;
	padding: 25px 50px 40px;
}

.landingPage--login .close {
	position: relative;
	top: -15px;
	right: -25px;
}

.landingPage--login-nav {
	display: flex;
	justify-content: center;
}

.login--social-buttons {
	padding-top: 20px;
}

.landingPage--app-title {
	font-family: 'Homemade Apple', cursive;
	font-size: 4em;
	font-weight: bold;
	color: var(--dark-purple);
}

.landingPage--description {
	display: flex;
	flex-direction: column;
	font-size: 1.65em;
	font-weight: bold;
	font-family: 'Arsenal', sans-serif;
	color: var(--med--purple);
}

.landingPage--login-nav {
	margin: 10px;
}

.landingPage--login .tab-content {
	margin: 0;
}

.input--login {
	padding: 0 10px;
	margin: 0px 0px 10px 0px;
	background-color: var(--light-purple);
	color: var(--dark-purple);
	border-radius: 5px;
}

.input--login--terms{
	color: grey;
	font-size: 12px;
}

.modal--input {
	margin: 30px 0;
}

.landingPage--login-nav {
	margin: 10px;
}

@media (max-width: 450px) {
	.landingPage--app-title {
		font-size: 2em;
	}

	.landingPage--description {
		font-size: 0.95em;
	}
}