.modal {
    display: flex;
    border-radius: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    margin: 0 auto;
    height: 45vh;
    z-index: 10040;
    top: -610px;
    left: 32%;
    margin: 0 auto;
    bottom: 200px;
}

.modal--backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .5;
    background-color: #444;
    height: 100vh;
    width: 100vw;
}

.modal--test {
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    background-color: #f3f3f3;
}

.modal--body {
    margin-bottom: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 15px;    
}
  
.modal--input {
    margin: 5% 0;
}

.modal--footer {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.modal--footer Button {
    margin: 0 8%;
}