.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

.button {
  background: var(--dark-purple);
  border: 2px solid var(--dark-purple);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 1em;
  font-weight: bold;
  color: var(--pale-purple);
  font-family: 'Arsenal', sans-serif;
}

.button:hover {
  background: var(--pale-purple);
  border: 2px solid var(--dark-purple);
  border-radius: 10px;
  padding: 5px 12px;
  color: var(--dark-purple);
  font-size: 1em;
  font-weight: bold;
}
