:root {
  --tan: rgb(243,211,197);
  --pink: rgb(251,185,197);
  --pale-purple: rgb(220,220,255);
  --light-purple: rgb(182,186,238);
  --med-purple: rgb(160,147,212);
  --dark-purple: rgb(76,83,167);
}

html, body, body #root {
  background: var(--pale-purple);
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}