.landing-container {
	margin: 0;
	padding: 0;
}

.landing-main {
	align-items: center;
  display: flex;
  height: 100vh;
}

.landing-title {
	transform: scale(.8);
  margin-right: 20px;
  margin-left: -10vw;
}

.landing-form {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-bottom: 10px;
	width: 200px;
}

.landing-form .landing-input {
	margin: 10px 0;
}

.landing-agree {
	margin: 10px 0;
}

.landing-form .landing-agree-check {
	color: var(--dark-purple);
	padding: 5px;
}

.landing-agree-text {
	font-size: 14px;
}

.landing-container .landing-button-main {
	height: 30px;
	line-height: 10px;
	margin: 20px auto 0;
	min-height: 30px;
	width: 100px;
}

.landing-container .landing-button-main:hover {
	border: 1px solid var(--bright-purple);
	color: var(--bright-purple);
}

.landing-form .landing-button-sub {
	border: none;
	border-radius: 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 12px;
	height: 20px;
	margin: 0 auto;
	min-height: 20px;
	padding: 1px 0 0;
	text-decoration: underline;
	width: 30px;
}

.landing-form .landing-button-sub:hover {
	border: none;
	color: var(--bright-purple);
}

.landing-oauth {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.landing-oauth-icon {
	cursor: pointer;
	height: 40px;
	width: 40px;
}

.landing-background_tinted {
	align-items: center;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

.landing-modal {
	align-items: center;
	background: white;
	border: 2px solid var(--dark-purple);
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	padding: 30px 10px;
	width: 300px;
}

@media (max-width: 1000px) {
	.landing-title {
    transform: scale(.6);
    margin-left: -18vw;
    margin-right: 0;
  }
  
  .landing-form {
    padding: 0;
  }

	.landing-form .landing-input {
		margin: 5px 0;
	}

	.landing-container .landing-button-main {
		margin: 15px auto 0;
	}

	.landing-oauth {
		margin-top: 15px;
	}
}

@media (max-width: 800px) {
	.landing-main {
		display: block;
		padding: 0;
	}

	.landing-title {
    transform: scale(.5);
    margin: -100px auto 0;
	}

	.landing-form {
		margin: -120px auto;
	}
}
