.UploadPage {
  left: 200px;
  position: absolute;
  top: 75px;
}

.UploadColumns {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 70vw;
}

.UploadLeft, .UploadRight {
  min-width: 300px;
  margin-top: 25px;
}

.UploadLeft {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.UploadImage {
  height: 200px;
  min-width: 300px;
  width: 30vw;
}

.UploadButton, .UploadButton:focus {
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 black;
  color: black;
  font-size: 10px;
  margin: 10px 0 30px;
}

#ClothingName {
  border-radius: 0;
  font-size: 12px;
  height: 30px;
}

#SelectType {
  font-size: 12px;
  height: 25px;
  width: 20vw;
}

.SaveButton, .SaveButton:focus {
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 black;
  color: black;
  margin: 30px 50px 30px 0;
  font-size: 15px;
  width: 100px;
}