.create--container {
	width: 80%;
	margin-top: 90px;
}

.create--button {
	background: var(--dark-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	padding: 2px 12px 3px;
	margin: 5px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	font-family: 'Arsenal', sans-serif;
}

.create--button:hover {
	background: var(--dark-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	padding: 2px 12px 3px;
	margin: 5px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	font-family: 'Arsenal', sans-serif;
}

.create--button-active {
	background: var(--pale-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	padding: 2px 12px 3px;
	margin: 5px;
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-purple);
	font-family: 'Arsenal', sans-serif;
}

.create--container .card-deck {
	margin: 20px auto;
}

.card-deck .card,
.card,
.create-card,
.card--image,
.card-img-overlay {
	border: none;
	box-shadow: none;
	outline: none;
	margin: 10px;
}

.card-deck {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.create--container .card.text-white {
	margin: 0;
	height: 100%;
}

.card-img-overlay {
	width: 100%;
	border-radius: 5px;
	margin: 0;
}

.locked--border {
	border: 3px solid var(--dark-purple);
}

.create-card .close {
	position: absolute;
	top: 5px;
	right: 25px;
}

.create-card--lock {
	border-radius: 5px;
	width: 35px;
	height: 30px;
	left: 5px;
	top: 5px;
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
}

.lock--icon {
	width: 45px;
	height: 30px;
	position: relative;
	left: -5px;
}

.create-card--refresh {
	border-radius: 5px;
	width: 35px;
	height: 30px;
	right: 5px;
	top: 5px;
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
}

.refresh--icon {
	width: 35px;
	height: 30px;
	position: relative;
}

.create--container .create-card--image {
	margin: 0;
	box-shadow: none;
	height: 200px;
	width: auto;
}

.outfit--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.outfit--decision {
	display: flex;
}

.outfit--decision button {
	margin: 1em;
	color: white;
	padding: 2px 12px 3px;
}

.outfit--decision button:hover {
	margin: 1em;
	padding: 2px 12px 3px;
}

.outfit--decision .fa-share-alt {
	margin-left: 0.3em;
}

.outfit--input {
	width: 200px;
	text-align: center;
	margin-bottom: 1em;
}

@media (min-width: 576px) {
	.card-deck .card {
		margin-bottom: 15px;
	}
}

@media (max-width: 700px) {
	.card-deck {
		flex-flow: column;
		align-items: center;
	}

	.card {
		margin: 0 0 15px;
	}
}
