.App {
	text-align: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.clickable {
  cursor: pointer;
}

ul {
	list-style: none;
}

.App .mui-button {
  border: 1px solid var(--dark-purple);
  border-radius: 50px;
}

.App .mui-button:hover {
  border: 1px solid var(--bright-purple);
  color: var(--bright-purple);
}

button {
  outline: none !important;
}

.button {
	background: var(--dark-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	font-family: 'Arsenal', sans-serif;
}

.button:hover {
	background: var(--pale-purple);
	border: 2px solid var(--dark-purple);
	border-radius: 5px;
	padding: 5px 10px;
	color: var(--dark-purple);
	font-size: 15px;
	font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: var(--dark-purple);
}

.nav-pills .nav-link.active:hover,
.nav-pills .show > .nav-link:hover {
	color: white;
}

a:not([href]):not([tabindex]) {
	cursor: pointer;
}
