:root {
	--tan: rgb(255, 225, 225);
	--pale-pink: rgb(250, 210, 210);
	--pale-purple: rgb(225, 225, 255);
	--light-purple: rgb(194, 194, 235);
  --med-purple: rgb(141, 141, 200);
  --bright-purple: rgb(49,66,157);
  --dark-purple: rgb(54, 56, 88);
  --matt-black: rgb(56,56,56);
}

* {
  box-sizing: border-box; 
}

html,
body,
body #root {
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: serif, sans-serif, 'Roboto';
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar { 
  display: none; 
}
