.Navigation {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.BreadCrumbs {
  margin: 25px 20px;
  position: absolute;
}

.Home {
  text-decoration: underline;
}

.SideNav {
  background: white;
  border: 1px solid black;
  height: 50vh;
  margin: 20px;
  margin-top: 70px;
  text-align: left;
  width: 150px;
}

.SideNav a {
  color: black;
}

.SignOut {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 20px;
  text-decoration: underline;
}
