.container--billing {
    border: 1px solid blue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 8vh;
    left: 200px;
    height: 50vh;
    width: 60vw;
    min-width: 300px;
    min-height: 500px;
    z-index: 1;
}

.billing--header {
    align-self: flex-start;
}

h5 {
}

.billing--form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 250px;
}

.billing--input {
    width: 80%;
    margin-bottom: 10px;
}

.billing--consent {
    align-self: flex-start;
    display: flex;
    margin: 0 30px;
    text-align: center;
}

.billing--consent input {
    margin-right: 15px;
}

button {
    border: none;
    background-color: green;
    align-self: flex-start;
    margin: 20px 0 0 30px;
    height: 50px;
    width: 150px;
    box-shadow: 3px 3px;
}