.landing-container {
  margin: 0;
  padding: 0;
}

.landing-main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-right: 10vw;
  width: 100vw;
}

.landing-logo {
  transform: scale(1);
  margin-right: 50px;
}

.landing-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 500px;
  padding-bottom: 10px;
  width: 200px;
}

.landing-form .landing-input {
  margin: 10px 0;
}

.landing-agree {
  margin: 10px 0;
}

.landing-form .landing-agree-check {
  color: var(--dark-purple);
  padding: 5px;
}

.landing-agree-text {
  font-size: 14px;
}

.landing-container .landing-button-main {
  border: 1px solid var(--dark-purple);
  border-radius: 50px;
  height: 30px;
  line-height: 10px;
  margin: 20px auto 0;
  min-height: 30px;
  width: 100px;
}

.landing-form .landing-button-main:hover {
  border: 1px solid var(--bright-purple);
  color: var(--bright-purple);
}

.landing-form .landing-button-sub {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 12px;
  height: 20px;
  margin: 0 auto;
  min-height: 20px;
  padding: 1px 0 0;
  text-decoration: underline;
  width: 30px;
}

.landing-form .landing-button-sub:hover {
  color: var(--bright-purple);
}

.landing-oauth {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; /* Res */
}

.landing-oauth-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.landing-background_tinted {
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.landing-modal {
  align-items: center;
  background: white;
  border: 2px solid var(--dark-purple);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 30px 10px;
  width: 300px;
}

@media (max-width: 1000px) {
  .landing-logo {
    transform: scale(.8);
    margin-right: 20px;
  }

  .landing-form .landing-input {
    margin: 5px 0;
  }

  .landing-container .landing-button-main {
    margin: 15px auto 0;
  }

  .landing-oauth {
    margin-top: 15px;
  }
}

@media (max-width: 700px) {
  .landing-main {
    display: block;
    padding: 0;
  }

  .landing-logo {
    transform: scale(.5);
    margin-top: -80px;
    margin-right: -10px;
  }

  .landing-form {
    margin: -130px auto;
  }
}