.navigation-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation-logo {
  height: 75px;
  margin: 20px 20px -10px;
  width: 75px;
}

.navigation-page-indicator {
  background: var(--dark-purple);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 8px 2px 0;
  width: 10px;
}

.navigation-pages {
  border-bottom: 1px solid var(--dark-purple);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 35px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: -3px;
  margin-top: 25px;
  width: 50%;
}

.navigation-pages:after {
  background: white;
  content: '';
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -10;
}

.navigation-pages a {
  color: var(--matt-black);
}

.navigation-pages a:hover {
  color: var(--bright-purple);
  text-decoration: none;
}

.navigation-user {
  cursor: pointer;
  height: 50px;
  margin: 25px;
  margin-left: 0;
  width: 50px;
}

.navigation-side-nav {
  width: 200px;
}

.navigation-side-nav a:hover {
  text-decoration: none;
}

.navigation-divide {
  border-bottom: 1px solid black;
}

@media (min-width: 600px) {
  .navigation-pages {
    width: 80%;
  }
}